<!DOCTYPE>

<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="This page is a sample simple scocial media"/>
        <title>Social Media</title>
        
        <link rel="icon" href="images/main-icon.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/global.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/left-bar.css"/>
        <link rel="stylesheet" href="css/right-bar.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![end if]-->
    </head>

    <body>
        <div id="full-container">
            
            <div id="left-bar">
                <section class="search">
                    <input class="radius5" type="search" placeholder="Search"/>
                    <button class="radius5 back-transition">
                        <strong>Search</strong>
                    </button>
                </section>
                
                <section class="group-members">
                    <nav>Members</nav>
                    
                    <nav>
                        <ul>
                            <li class="radius5 back-transition">Newest</li>
                            <li class="radius5 back-transition">Active</li>
                            <li class="radius5 back-transition green-active">Popular</li>
                        </ul>
                        
                        <div>
                            <img class="radius5" src="images/avatar1.png" alt="Will Smith"/>
                            
                            <div>
                                <span>Will Smith</span>
                                <span class="radius5"><small>14 friends</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/avatar2.png" alt="Tom Krooz"/>
                            
                            <div>
                                <span>Tom Krooz</span>
                                <span class="radius5"><small>10 friends</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/avatar7.jpg" alt="Grand Coco"/>
                            
                            <div>
                                <span>Grand Coco</span>
                                <span class="radius5"><small>8 friends</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/avatar8.jpg" alt="Doctor Strange"/>
                            
                            <div>
                                <span>Doctor Strange</span>
                                <span class="radius5"><small>6 friends</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/avatar9.jpg" alt="Captain Magid"/>
                            
                            <div>
                                <span>Captain Magid</span>
                                <span class="radius5"><small>4 friends</small></span>
                            </div>
                        </div>
                    </nav>
                </section>
                
                <section class="group-members">
                    <nav>Groups</nav>
                    
                    <nav>
                        <ul>
                            <li class="radius5 back-transition">Newest</li>
                            <li class="radius5 back-transition green-active">Active</li>
                            <li class="radius5 back-transition">Popular</li>
                        </ul>
                        
                        <div>
                            <img class="radius5" src="images/view1.jpg" alt="The Tourist"/>
                            
                            <div>
                                <span>The Tourist</span>
                                <span class="radius5"><small>active 3 years, 8 months ago</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/view2.jpg" alt="The Social Network"/>
                            
                            <div>
                                <span>The Social Network</span>
                                <span class="radius5"><small>active 3 years, 8 months ago</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/view3.jpg" alt="Monsters, Inc."/>
                            
                            <div>
                                <span>Monsters, Inc.</span>
                                <span class="radius5"><small>active 4 years, 7 months ago</small></span>
                            </div>
                        </div>
                        
                        <div>
                            <img class="radius5" src="images/view4.jpg" alt="Elizabethan"/>
                            
                            <div>
                                <span>Elizabethan</span>
                                <span class="radius5"><small>active 4 years, 7 months ago</small></span>
                            </div>
                        </div>
                    </nav>
                </section>
                
                <section class="active">
                    <nav><strong>Recently Active Members</strong></nav>
                    
                    <nav>
                        <ul>
                            <li><img class="radius5" src="images/avatar1.png"/></li>
                            <li><img class="radius5" src="images/avatar2.png"/></li>
                            <li><img class="radius5" src="images/avatar3.jpeg"/></li>
                            <li><img class="radius5" src="images/avatar4.jpg"/></li>
                            <li><img class="radius5" src="images/avatar5.jpg"/></li>
                            <li><img class="radius5" src="images/avatar6.jpg"/></li>
                            <li><img class="radius5" src="images/avatar7.jpg"/></li>
                            <li><img class="radius5" src="images/avatar8.jpg"/></li>
                            <li><img class="radius5" src="images/avatar9.jpg"/></li>
                            <li><img class="radius5" src="images/avatar10.jpg"/></li>
                            <li><img class="radius5" src="images/avatar11.jpg"/></li>
                            <li><img class="radius5" src="images/avatar12.jpg"/></li>
                            <li><img class="radius5" src="images/avatar13.jpg"/></li>
                            <li><img class="radius5" src="images/avatar14.jpg"/></li>
                            <li><img class="radius5" src="images/avatar15.jpg"/></li>
                        </ul>
                    </nav>
                </section>
            </div>
            
            <div id="main">
                <section class="photos">
                    <nav>
                        <img class="photo-active" src="images/background1.jpg"/>
                        <img src="images/background2.jpg"/>
                        <img src="images/background3.jpg"/>
                    </nav>

                    <h2>Welcome to the community!</h2>
                    
                    <ul>
                        <li class="photo-active"> </li>
                        <li> </li>
                        <li> </li>
                    </ul>
                </section>
                
                <section class="activity-posts">
                    <nav><strong>Latest Activity</strong></nav>
                    
                    <nav>
                        <ul>
                            <li>
                                <img src="images/avatar1.png" alt="Will Smith"/>
                                
                                <div>
                                    <p>
                                        <span>Will Smith</span> posted an update in the group <span>The Social Network</span><br/>
                                        <small>4 years, 7 months ago</small>
                                    </p>
                                    <p>
                                        Prefection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
                                    </p>
                                </div>
                            </li>
                            
                            <li>
                                <img src="images/avatar2.png" alt="Tom Krooz"/>
                                
                                <div>
                                    <p>
                                        <span>Tom Krooz</span> posted an update in the group <span>The Tourist</span><br/>
                                        <small>4 years, 7 months ago</small>
                                    </p>
                                    
                                    <p>
                                        Victory goes to the player who makes the next-to-last mistake. (Chessmaster Savielly Grigorievitch Tartakower)
                                    </p>
                                </div>
                            </li>
                            
                            <li>
                                <img src="images/avatar3.jpeg" alt="Bat Man"/>
                                
                                <div>
                                    <p>
                                        <span>Batman</span> posted an update in the group <span>Monsters, Inc.</span><br/>
                                        <small>4 years, 7 months ago</small>
                                    </p>
                                    
                                    <p>
                                        I think 'Hail to the chief' has a nice ring to it. (John F.Kennedywhen asked what is his favorite song)
                                    </p>
                                    
                                    <p>
                                        Efficiently evisculate ubiquitous alignments through scalable web-readiness. Phosfluorescently restore resource-leveling growth strategies for multifunctional best practices.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
            
            <div id="right-bar">
                <section class="sign">
                    <nav><strong>Sign In</strong></nav>
                    
                    <nav>
                        <form>
                            <input class="radius5" type="text" name="dataM" placeholder="UserName Or Email"/>
                            <input class="radius5" type="password" name="dataP" placeholder="Password"/>
                            <input class="radius5" type="checkbox">
                            <label>Remember Me</label>
                            <button class="radius5 back-transition"><strong>Sign in</strong></button>
                            <p>
                                <a href="#">
                                    <i class="fa fa-question-circle">&nbsp;</i>Lost Password
                                </a>
                            </p>
                        </form>
                    </nav>
                </section>
                
                <section class="statistics">
                    <nav>Statistics</nav>
                    
                    <nav>
                        <ul>
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-pencil"></i>&nbsp; Posts
                                </span>
                                <span>6</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-comments"></i>&nbsp; Comments
                                </span>
                                <span>8</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-comment"></i>&nbsp; Activity
                                </span>
                                <span>76</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-user"></i>&nbsp; Members
                                </span>
                                <span>31</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-group"></i>&nbsp; Groups
                                </span>
                                <span>6</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-wpforms"></i>&nbsp; Forums
                                </span>
                                <span>7</span>
                            </li>
                            
                            <li class="radius5 back-transition">
                                <span>
                                    <i class="fa fa-first-order"></i>&nbsp; Topics
                                </span>
                                <span>7</span>
                            </li>
                        </ul>
                    </nav>
                </section>
                
                <section class="online">
                    <nav><strong>Who's Online</strong></nav>
                    
                    <nav>
                        There are no users currently online
                    </nav>
                </section>
                
                <section class="reply-topics">
                    <nav><strong>Recent Replies</strong></nav>
                    
                    <nav>
                        <p>Uniquely pontificate standards compliant <span>4 years ago</span></p>
                        <p>Quickly expedite holistic e-tailers <span>4 years, 7 months ago</span></p>
                        <p>Intrinsicly parallel task cross-platform <span>4 years ago</span></p>
                    </nav>
                </section>
                
                <section class="reply-topics">
                    <nav><strong>Recent Topics</strong></nav>
                    
                    <nav>
                        <p>Uniquely pontificate standards compliant <span>by</span> Will Smith <span>4 years ago</span></p>
                        <p>Quickly expedite holistic e-tailers <span>by</span> Tom Krooz <span>4 years, 7 months ago</span></p>
                        <p>Intrinsicly parallel task cross-platform <span>by</span> Grand Coco <span>4 years ago</span></p>
                    </nav>
                </section>
            </div>
            
        </div>
    </body>
    
</html>