<!DOCTYPE>

<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <title>New JavaScript</title>
        
        <link rel="icon" href=""/>
        <link rel="stylesheet" href="css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/global.css"/>
        <link rel="stylesheet" href="css/side-bar.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![end if]-->
    </head>

    <body>
        
        <div id="full-container">
            <aside id="side-bar">

                <h1>References</h1>
                <nav>
                    <h2>Basics</h2>
                    <span><a href="#define-variables">define variables</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    <span><a href="#">define variable</a></span>
                    
                </nav>

            </aside>

            <div id="main">

                <main>JavaScript References</main>
                
                <section>
                    <h1 id="define-variables">Define variables</h1>
                    <div>
                        
                        <h2>Example</h2>
                        <span>We use <object class="def-col">let</object> to define an variable.</span>
                        <div id="code">
                            <code>
                                <span class="def-col">let</span> <span class="txt-col">num1</span> = <span class="txt-col">15</span>; <span class="com-col">//Define an integer number</span><br/>

                                <span class="def-col">let</span> <span class="txt-col">num2</span> = <span class="txt-col">15.5</span>; <span class="com-col">//Define a float number</span><br/>

                                <span class="def-col">let</span> <span class="txt-col">str</span> = <span class="txt-col">"islam"</span>; <span class="com-col">//Define a string</span><br/>

                                <span class="def-col">let</span> <span class="txt-col">arr</span> = <span class="txt-col">[15, "islam", 15.5]</span>; <span class="com-col">//Define an array</span><br/>

                                <span class="def-col">let</span> <span class="txt-col">num2</span> = <span class="txt-col">15.5</span>; <span class="com-col">//Define a float number</span><br/>
                            </code>
                        </div>
                        
                    </div>
                </section>
                
            </div>
        </div>
        
    </body>
    
</html>