<!DOCTYPE>

<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="My CV based on what i learn and what i do"/>
        <title>My CV</title>
        
        <link rel="icon" href="images/mainicon.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/style1.css"/>
        <link rel="stylesheet" href="css/style2.css"/>
        <link rel="stylesheet" href="css/media.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![end if]-->
    </head>

    <body class="back-offwhite">
        <div class="main">
            <div class="grid-container">
                
                <!--Start Aside-->
                <aside class="shadowbottom back-white">
                    <section class="relative">
                        <img src="images/avatar1.jpg" alt="avatar.jpg"/>
                        <div class="absloute">
                            <span class="font32 white">Islam Hani</span>
                        </div>
                    </section>
                    
                    <section class="midcolor minamize">
                        <ul>
                            <li>
                                <i class="fa fa-briefcase darkgreen font20"></i>
                                <span class="left15 relative spans">Fresh Web Developer</span>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <i class="fa fa-home darkgreen font20"></i>
                                <span class="left15 relative spans">Giza, Egypt</span>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <i class="fa fa-envelope darkgreen font20"></i>
                                <span class="left15 relative spans">islamhani433@gmail.com</span>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <i class="fa fa-phone darkgreen font20"></i>
                                <span class="left15 relative spans">01127323724</span>
                            </li>
                        </ul>
                    </section>
                    
                    <section class="midcolor minamize">
                        <p class="font20">
                            <i class="fa fa-asterisk darkgreen"></i>
                            <span class="left15 bold">Skills</span>
                        </p>
                        
                        <ul>
                            <li>
                                <span>Flex</span>
                                <p><span class="white centerT back-darkgreen" style="width:90%">90%</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>Grid</span>
                                <p><span class="white centerT back-darkgreen" style="width:75%">75%</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>Media</span>
                                <p><span class="white centerT back-darkgreen" style="width:90%">90%</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>Animation</span>
                                <p><span class="white centerT back-darkgreen" style="width:50%">50%</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>javaScript</span>
                                <p><span class="white centerT back-darkgreen" style="width:60%">60%</span></p>
                            </li>
                        </ul>
                    </section>
                    
                    <section class="midcolor">
                        <p class="font20">
                            <i class="fa fa-globe darkgreen"></i>
                            <span class="left15 bold">Languages</span>
                        </p>
                        
                        <ul>
                            <li>
                                <span>Arabic</span>
                                <p><span class="centerT back-darkgreen" style="width:100%">&nbsp;</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>English</span>
                                <p><span class="centerT back-darkgreen" style="width:70%">&nbsp;</span></p>
                            </li>
                        </ul>
                        
                        <ul>
                            <li>
                                <span>french</span>
                                <p><span class="centerT back-darkgreen" style="width:20%">&nbsp;</span></p>
                            </li>
                        </ul>
                    </section>
                </aside>
                <!--Start Aside-->
                
                <!--Start Experience-->
                <nav id="main1" class="shadowbottom back-white">
                    <h1 class="normal">
                        <i class="fa fa-suitcase darkgreen"></i>
                        <span class="midcolor left15">Work Experience</span>
                    </h1>
                    
                    <article>
                        <p class="bold midcolor font18">Web Developer / 
                            <span class="normal">
                                <a href="https://islamhanii.github.io/Templates/simple-calculator/index.html" target="_blank" class="darkgreen">
                                    Calculator.com
                                </a>
                            </span>
                        </p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">May 2020 - <object class="white back-darkgreen">Current</object></span>
                        </p>
                        
                        <span class="font15">
                            This page is a simple calculator i made to improve myself to use javaScript. I made it after
                            learning javaScript DOM.
                        </span>
                    </article>
                    
                    <article>
                        <p class="bold midcolor font18">Web Developer / 
                            <span class="normal">
                                <a href="https://islamhanii.github.io/Templates/dashboard/index.html" target="_blank" class="darkgreen">
                                    Dashboard.com
                                </a>
                            </span>
                        </p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">May 2020 - <object class="white back-darkgreen">Current</object></span>
                        </p>
                        
                        <span class="font15">
                            This page i work on after learning flex, grid, media queries and animation. I try here to work on
                            all what i learn in css to make a web page contain these coordinations.
                        </span>
                    </article>
                    
                    <article>
                        <p class="bold midcolor font18">Web Developer / 
                            <span class="normal">
                                <a href="https://islamhanii.github.io/Templates/references/html-page/index.html" target="_blank" class="darkgreen">
                                    References.com
                                </a>
                            </span>
                        </p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">April 2020 - <object class="white back-darkgreen">Current</object></span>
                        </p>
                        
                        <span class="font15">
                            This page i work on after learning flex and media queries. In this page i seek to collect all what
                            i will learn in the future to be as reference to me.
                        </span>
                    </article>
                    
                    <article>
                        <p class="bold midcolor font18">Web Developer / 
                            <span class="normal">
                                <a href="https://islamhanii.github.io/Questions/Exercise1/questions.html" target="_blank" class="darkgreen">
                                    Questions.com
                                </a>
                            </span>
                        </p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">Mars 2020 - <object class="white back-darkgreen">Current</object></span>
                        </p>
                        
                        <span class="font15">
                            This page is a simple exercise i made to improve myself to use javaScript. I made it after
                            learning javaScript Basics.
                        </span>
                    </article>
                </nav>
                <!--End Experience-->

                <!--Start Education-->
                <nav id="main2" class="shadowbottom back-white">
                    <h1 class="normal">
                        <i class="fa fa-university darkgreen"></i>
                        <span class="midcolor left15">Education</span>
                    </h1>
                    
                    <article>
                        <p class="bold midcolor font18">W3Schools.com</p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">Forever</span>
                        </p>
                        
                        <span class="font15">
                            Web Development! All I need to know in one place.
                        </span>
                    </article>
                    
                    <article>
                        <p class="bold midcolor font18">MDN.com</p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">Forever</span>
                        </p>
                        
                        <span class="font15">
                            Web Development! All I need to know in one place.
                        </span>
                    </article>
                    
                    <article>
                        <p class="bold midcolor font18">FCAI faculity</p>
                        
                        <p class="darkgreen">
                            <i class="fa fa-calendar font18"></i>
                            <span class="left15">2017 - 2021</span>
                        </p>
                        
                        <span class="font15">
                            This Place give me experience day after day.
                        </span>
                    </article>
                </nav>
                <!--End Education-->
            </div>
        </div>
        
        <footer class="white back-darkgreen centerT">
            <p>Find Me On Social Media</p>
            
            <a href="https://www.facebook.com/eslam.hany.752" target="_blank" class="white font20">
                <i class="fa fa-facebook-official"></i>
            </a>
            <a href="https://www.instagram.com/islamhani10/" target="_blank" class="white font20">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://twitter.com/islamha58723976" target="_blank" class="white font20">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://github.com/islamhanii" target="_blank" class="white font20">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/islam-hani-2572131ab/" target="_blank" class="white font20">
                <i class="fa fa-linkedin"></i>
            </a>
            
            <p>Copyrights &copy; Islam Hani</p>
        </footer>
    </body>
    
</html>