/*Start Global*/
#right-bar > section > nav:last-of-type
{
    padding-top: 20px;
    padding-bottom: 0;
}
/*End Global*/

/*----------------------------------------------------------------------------------------------------*/

/*Start Sign*/
.sign > nav:last-of-type form input[name *= "data"],
.sign > nav:last-of-type form button
{
    width: 100%;
    
    padding: 16px 10px;
}

.sign > nav:last-of-type form input[name *= "data"] {margin-bottom: 20px;}

.sign > nav:last-of-type form input[type = "checkbox"] {margin: 0 0 0 5px;}

.sign > nav:last-of-type form button {margin: 20px 0 0;}

.sign > nav:last-of-type form p {text-align: right;}

.sign > nav:last-of-type form a {color: #333;}

.sign > nav:last-of-type form a:hover {text-decoration: underline;}
/*End Sign*/

/*----------------------------------------------------------------------------------------------------*/

/*Start Statistics*/
.statistics
{    
    font-weight: 700;
    font-size: 15px;
}

.statistics > nav:last-of-type ul
{
    margin: 0;
    
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.statistics > nav:last-of-type ul li
{
    display: flex;
    justify-content: space-between;
    
    padding: 8px 10px;
    margin-bottom: 5px;
    
    color: #fff;
    background-color: #c12f6c;
}
/*End Statistics*/

/*-----------------------------------------------------------------------------------------------------------*/

/*Start Reply And Topics*/
.reply-topics nav:last-of-type p
{
    color: #373a41;
    line-height: 1.25;
    
    margin: 0;
}

.reply-topics nav:last-of-type p span {color: #b6b6b6;}

.reply-topics nav:last-of-type p:nth-last-of-type(n+2) {margin-bottom: 10px;}
/*End Reply And Topics*/