<!DOCTYPE html>

<html>
    
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="first templete in my life with html and css."/>
        <link rel="icon" href="images/icon.png">
        <title>Sample Cv</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/css.css">
        <link rel="stylesheet" href="css/css1.css">
        
        <!--[if lt IE 9]>
            <script src="html5shiv.min.js"></script>
        <![end if]-->
    </head>
    
    <body>
        
        <div class="container">
            
            <!--Start Header-->
            <header class="color_wt upper">
                <!--Start Slider-->
                <div id="slider">
                    <div class="minumize">
                        
                        <h1>Web &amp; Graphic Designer</h1>
                        <a href="#home"><button class="color_wt pointer upper">Learn More</button></a>
                        
                    </div>
                </div>
                <!--End Slider-->

                <!--Start Navbar-->
                <div id="navbar">
                    <div class="minumize">
                        
                        <h3 class="left">FFO<span>CAL</span></h3>
                        <ul class="right">
                            <li class="pointer"><a href="#home" class="color_wt">Home</a></li>
                            <li class="pointer"><a href="#about" class="color_wt">About Us</a></li>
                            <li class="pointer"><a href="#skills" class="color_wt">Skills</a></li>
                            <li class="pointer"><a href="#resume" class="color_wt">Resume</a></li>
                            <li class="pointer"><a href="#testemonials" class="color_wt">Testemonials</a></li>
                            <li class="pointer"><a href="#portfolio" class="color_wt">Protfolio</a></li>
                            <li class="pointer"><a href="#contact" class="color_wt">Contact Me</a></li>
                        </ul>
                        
                    </div>
                </div>
                <!--End Navbar-->
            </header>
            <!--End Header-->
            
            <!--Start Home-->
            <div id="home">
                <div class="minumize">
                    
                    <div class="left">
                        <h2 class="upper">Values</h2>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too. 
                        </p>
                    </div>
                    
                    <div class="left">
                        <h2 class="upper">Goals</h2>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.  
                        </p>
                    </div>
                    
                    <div class="left">
                        <h2 class="upper">Hobbies</h2>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                    </div>
                    
                </div>
            </div>
            <!--End Home-->
            
            <nav class="clear"></nav>
            
            <!--Start About Us-->
            <div id="about">
                
                <div class="left">
                    <img src="images/about.jpg" alt="about.jpg">
                </div>
                
                <div id="content" class="right">
                        <div id="header">
                            <h2 class="upper">About Us</h2>
                            <p>
                                Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                                Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            </p>
                            <p>
                                Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            </p>
                        </div>
                        
                        <div id="body">
                            <div class="hobbies left">
                                <img class="left" src="images/earth.jpg" alt="earth.jpg">
                                <div class="left">
                                    <h3 class="upper">Web Design</h3>
                                    <p>we pleased to recieving you in our site.</p>
                                </div>
                            </div>
                            
                            <div class="hobbies left">
                                <img class="left" src="images/pen.png" alt="pen.png">
                                <div class="left">
                                    <h3 class="upper">Graphic Design</h3>
                                    <p>we pleased to recieving you in our site.</p>
                                </div>
                            </div>
                            
                            <div class="hobbies left">
                                <img class="left" src="images/group.png" alt="group.png">
                                <div class="left">
                                    <h3 class="upper">Online Marketing</h3>
                                    <p>we pleased to recieving you in our site.</p>
                                </div>
                            </div>
                            
                            <div class="hobbies left">
                                <img class="left" src="images/sticky.png" alt="sticky.png">
                                <div class="left">
                                    <h3 class="upper">Seo</h3>
                                    <p>we pleased to recieving you in our site.</p>
                                </div>
                            </div>
                            
                        </div>
                </div>
                
            </div>
            <!--End About Us-->
            <div class="clear"></div>
            
            <!--Start Skills-->
            <div id="skills">
                <div class="minumize">
                    
                    <div class="left">
                        <h2 class="upper">My Skills</h2>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        <a href="#contact"><button class="pointer upper">Contact me</button></a>
                    </div>
                    
                    <div class="right">
                        
                        <h3 class="upper">Photoshop</h3>
                        <div id="progress1" class="progress">
                            <span class="color_wt">90% </span>
                        </div>
                        
                        <h3 class="upper">Illustrator</h3>
                        <div id="progress2" class="progress">
                            <span class="color_wt">80% </span>
                        </div>
                        
                        <h3 class="upper">Html / Css</h3>
                        <div id="progress3" class="progress">
                            <span class="color_wt">90% </span>
                        </div>
                        
                        <h3 class="upper">Php / Mysql</h3>
                        <div id="progress4" class="progress">
                            <span class="color_wt">70% </span>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--End Skills-->
            
            <!--Start Resume-->
            <div id="resume">
                <div class="minumize">
                    
                    <div>
                        <h2 class="upper">Resume</h2>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        <button class="pointer upper">Download Resume</button>
                    </div>
                    
                </div>
            </div>
            <!--End Resume-->
            
            <!--Start Education-->
            <div id="education">
                <div class="minumize">
                    
                    <h2 class="upper">My Education</h2>
                    <div class="left">
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                    </div>
                    <div class="right">
                        <div>
                            <h3 class="upper">Graphic Design Diploma</h3>
                            <p>Reeves Collage / June 2008 - May 2010</p>
                            <span class="color_wt">4.0 EPA</span>
                        </div>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        
                        <div>
                            <h3 class="upper">Cit Diploma</h3>
                            <p>Lithbridge Collage / June 2006 - May 2008</p>
                            <span class="color_wt">4.0 EPA</span>
                        </div>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                    </div>
                    <nav class="clear"></nav>
                    
                </div>
            </div>
            <!--End Education-->
            
            <!--Start Experience-->
            <div id="experience">
                <div class="minumize">
                    
                    <h2 class="upper">Work Experience</h2>
                    <div class="left">
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                    </div>
                    <div class="right">
                        <div>
                            <h3 class="upper">Lead Web Designer</h3>
                            <p>ABC Company, Saskatoon / June 2011 - Present</p>
                            <span class="color_wt">3 Years</span>
                        </div>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        
                        <div>
                            <h3 class="upper">Junior Designer</h3>
                            <p>XYZ Company, Lithbridge / June 2008 - May 2009</p>
                            <span class="color_wt">1 Year</span>
                        </div>
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                    </div>
                    <nav class="clear"></nav>
                    
                </div>
            </div>
            <!--End Experience-->
            
            <!--Start Testemonials-->
            <div id="testemonials">
                <div class="minumize">
                    
                    <p>
                        " Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too. "
                    </p>
                    <h3 class="upper">Islam Hani</h3>
                    <ul>
                        <li class="pointer"></li>
                        <li class="pointer"></li>
                        <li class="pointer"></li>
                    </ul>
                </div>
            </div>
            <!--End Testemonials-->
            
            <!--Start Protfolio-->
            <div id="portfolio">
                <div class="minumize">
                    
                    <h2 class="upper">Protfolio</h2>
                    <p>
                        Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                    </p>
                    
                    <a href="images/portfolio1.jpg"><img src="images/portfolio1.jpg" alt="protfolio1.jpg"></a>
                    <a href="images/portfolio2.jpg"><img src="images/portfolio2.jpg" alt="protfolio2.jpg"></a>
                    <a href="images/portfolio3.jpg"><img src="images/portfolio3.jpg" alt="protfolio3.jpg"></a>
                    <a href="images/portfolio4.jpg"><img src="images/portfolio4.jpg" alt="protfolio4.jpg"></a>
                    <a href="images/portfolio5.jpg"><img src="images/portfolio5.jpg" alt="protfolio5.jpg"></a>
                    <a href="images/portfolio6.jpg"><img src="images/portfolio6.jpg" alt="protfolio6.jpg"></a>
                    <a href="images/portfolio7.jpg"><img src="images/portfolio7.jpg" alt="protfolio7.jpg"></a>
                    <a href="images/portfolio8.jpg"><img src="images/portfolio8.jpg" alt="protfolio8.jpg"></a>
                    <a href="images/portfolio9.jpg"><img src="images/portfolio9.jpg" alt="protfolio9.jpg"></a>
                    <nav class="clear"></nav>
                    
                </div>
            </div>
            <!--End Portfolio-->
            
            <!--Start Contact Me-->
            <div id="contact">
                <div class="minumize">
                    
                    <h2 class="color_wt upper">Contact me</h2>
                    
                    <div class="left">
                        <p>
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                            Welcome to our website sir we pleased to recieving you in our site. We wish you fun day too.
                        </p>
                        
                        <p>
                            122 33rd Street East <br>
                            Saskatoon, SK <br>
                            S7K 1R9
                        </p>
                        <p>
                            <span class="color_wt">Email:</span> &nbsp;&nbsp;<span class="indent">info@focal.com</span> <br>
                            <span class="color_wt">Phone:</span> <span class="indent">1-306-222-2323</span>
                        </p>
                    </div>
                    
                    <div class="right">
                        <form>
                            <label class="color_wt">Name *</label>
                            <input class="color_wt" type="text" name="Name">
                            
                            <label class="color_wt">Email Address *</label>
                            <input class="color_wt" type="text" name="Email">
                            
                            <label class="color_wt">Content *</label>
                            <textarea class="color_wt" name="Content"></textarea>
                            
                            <input class="color_wt pointer upper" type="submit" value="Contact me" name="Submit">
                        </form>
                    </div>
                    
                    <nav class="clear"></nav>
                    
                </div>
            </div>
            <!--End Contact Me-->
            
            <!--Start Footer-->
            <footer>
                <div>
                    <p>Copyrights &copy; Islam Hani.</p>
                    <img src="images/facebook.png">
                    <img src="images/gmail.png">
                    <img src="images/linkedin.png">
                    <img src="images/twitter.png">
                </div>
            </footer>
            <!--End Footer-->
        </div>
        
    </body>
    
</html>