*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

/*------------------------------------------------------------------------------------*/

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    margin-bottom: 20px;
}

header .container {
    display: flex;
    justify-content: center;
}

header p {font-size: 20px;}
header svg {
    width: 25px;
    padding-left: 5px;
    position: relative;
    bottom: -3px;
}

/*------------------------------------------------------------------------------------*/

#course-select {
    display: flex;
    justify-content: center;
    width: 100%;
}

#course-select div {
    width: 75%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

#course-select h2 {
    text-align: center;
    margin-bottom: 10px;
}

#course-select select {
    padding: 8px 10px;
    border: none;
    color: #fff;
    background-color: #333;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: pointer;
}

