@media screen and (max-width: 1024px)
{
    #grid-container
    {
        grid-template-areas: 
            "header header"
            "sidebar ."
            "main main";
    }

    #grid-container > header div:nth-of-type(1)
    {
        visibility: visible;
        -webkit-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in;
    }
    
    aside
    {
        position: absolute;
        top: 60px;
        background-color: #fff;
        width: 300px;
        
        -webkit-box-shadow: 3px 0px 5px -3px #888;
        -mox-box-shadow: 3px 0px 5px -3px #888;
        box-shadow: 3px 3px 5px -3px #888;
        
        -webkit-transform: translate(-300px, 0);
        -moz-transform: translate(-300px, 0);
        -ms-transform: translate(-300px, 0);
        -o-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
    }
}

@media screen and (max-width: 768px)
{
    .heading, .area
    {
        display: block;
    }
    
    .heading section, .area section:nth-of-type(n)
    {
        width: 100%;
    }
    
    .comment article section
    {
        display: block;
        width: 100%;
        position: inherit
    }
    
    .stats, .country, .user, .comment
    {
        margin-right: 10px;
    }
    
    .abstract
    {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .abstract section
    {
        width: 80%;
    }
    
    footer
    {
        text-align: center;
    }
}