/*Start Global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro',sans-serif;
}

body {
    background-color: #f5f5f5;
}

h1, h2, h3 {
font-family: 'Lato',sans-serif;
}

p {line-height: 1.5}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {list-style: none;}

a {text-decoration: none;}

.left {float: left;}
.right {float: right;}
.clearfix {clear: both;}

/*End Global*/

/*---------------------------------------------------------------------------------------------------*/

/*Start Main Header*/
#main-header {padding: 30px 0}

#main-header img {
    height: 36px;
    padding-left: 20px
}

#main-header .container > div * {color: #506a85;}

#main-header .links {width: 80%;}

#main-header .links ul {width: 90%;}

#main-header .links ul li,
#main-header .links i {
    float: left;
    padding: 10px 25px;
    
    font-weight: 700;
    cursor: pointer;
}
/*End Main Header*/

/*---------------------------------------------------------------------------------------------------*/

/*Start Slider*/
#slider {
    width: 100%;
    height: 600px;
    
    background-image: url("../images/slider01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#slider .container {
    max-width: 900px;
    padding-top: 200px;
}

#slider * {text-align: center;}

#slider h1 {
    color: #fff;
    font-size: 4.5em;
    margin-bottom: 10px;
}

#slider p {
    color: #a3b1bf;
    font-weight: 700;
    
    margin-bottom: 50px;
}

#slider button {
    color: #fff;
    background-color: #17a78b;
    border: none;
    
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    
    padding: 15px 50px;
}
/*End Slider*/

/*---------------------------------------------------------------------------------------------------*/

/*Start Slider*/
#features {padding: 70px 0;}

#features .container > h2,
#features .container > p {
    text-align: center;
    font-weight: 700;
}

#features h2 {
    color: #506a85;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#features .container > p {
    color: #7f8890;
    font-size: 20px;
}

#features section {margin-top: 40px;}

#features section article {width: 30%;}

#features section article:nth-of-type(n+1) {margin-left: 3%;}

#features section article i {
    color: #17a78b;
    font-size: 44px;
}

#features section article .right {
    width:  calc(100% - 70px);
}

#features section h3 {
    color: #506a85;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#features section article p {color: #7f8890;}
/*End Slider*/