* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: monospace;
}

a {text-decoration: none;}

ul {padding: 0;}

li {list-style-type: none;}

pre {margin: 0;}

/*-----------------------------------------------------------------------------------------------*/

/*Start Page Grid*/

#full-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
}

#side-bar {grid-area: sidebar;}
#main {grid-area: main;}
/*End Page Grid*/