.navbar {
    color: #fff;
    background: #21325b;
    .navbar-brand{
        font-size: 28px;
    }
    [class^="icon-"], [class*=" icon-"] {
        color: #fff;
    }
    .search {
        input:focus {
            box-shadow: 0 0 0 0.25rem #1B9CFC88;
        }
        button {
            border-color: #0378d1;
            background: #0378d1;
            font-weight: 700;
            &:focus {
                box-shadow: 0 0 0 0.25rem #1B9CFC88;
            }
        }
    }
    button:focus {
        box-shadow: 0 0 0 0.25rem #fff8;
    }
}

.sign {
    display: flex;
    align-items: center;
    margin: auto;
    min-height: calc(100vh - 68px);
    background-color: #f2f2f2;
    div {max-width: 520px;}

    form {
        background-color: #fff;
        padding: 30px 4%;
        border: 1px solid #e4e4e4;
        margin: 30px 20px;
        h3, p {
            text-align: center;
            &.h1 {
                font-weight: 400;
                margin-top: 0;
            }
        }
        div.google {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 0;
            background-color: unset;
            color: #167ee6;
            border: 1px solid #167ee6;
            img {
                width: 22px;
                margin-right: 8px;
            }
            p {
                margin: 0;
                font-weight: 500;
            }
        }
        button {
            width: 100%;
            border-radius: 0;
            &[type="submit"] {
                background-color: #21325b;
                border: #21325b;
                color: #fff;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .login p {
            font-size: 15px;
            font-weight: 500;
            a{
                text-decoration: none;
            }
        }
    }
}

.sign input:not([type="submit"],[type="file"]),
.sign select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    &:focus {
        box-shadow: none !important;
    }
}