/*Start Gallery*/
#gallery {
    text-align: center;
    
    padding: 50px 0;
}

#gallery .photos {
    opacity: 0;
    visibility: hidden;
    
    width: 90%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
}

#gallery h1 {
    font-weight: 500;
    margin-bottom: 25px;
}

#gallery .photos nav {
    overflow: hidden;
    width: 25%;
    cursor: pointer;
}

#gallery .photos nav img {
    width: 100%;
    
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}

#gallery .photos nav:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#gallery .button {margin-top: 60px;}

#gallery .button button a{color: #fff !important;}

#gallery .button button {
    padding: 16px 34px;
    font-size: 20px;
}
/*End Gallery*/

/*------------------------------------------------------------------------------------------------*/

/*Start Figure*/
#figure {
    z-index: 10;
    
    position: fixed;
    top: 0;
    left: 54;
    
    width: calc(100% - 54px);
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3335;
    
    display: none;
}

#figure figure {
    opacity: 0;
    
    position: relative;
    
    background-color: #fff;
    padding: 10px;
    
    width: 0%;
    max-width: 90%;
    max-height: 90vh;
}

#figure figure img {
    width: 100%;
    max-height: calc(90vh - 70px);
}

#figure figcaption {
    font-size: 14px;
    color: #444;
    text-align: center;
    
    padding: 15px 0;
}

#figure figure span {
    cursor: pointer;
    
    background-color: #222;
    color: #fff;
    padding: 8px 16px;
    
    position: absolute;
    top: 0;
    right: -45;
}
/*End Figure*/