<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content=""/>
        
        <title></title>
        <link rel="icon" type="image/x-icon" href="images/bookstore-icon.png">
        
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
    </head>

    <body>
        <div id="main" class="container mt-5 mb-4"></div>

        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/Creator.js"></script>
        <script src="js/loader.js"></script>
        <script src="js/script1.js"></script>
    </body>
</html>