<!DOCTYPE>

<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="A simple calculator, adding, subtracting, multipling and division"/>
        <title>Simple Calculator</title>
        
        <link rel="icon" href="images/pageicon.png"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![end if]-->
    </head>

    <body class="back-lightblack">
        
        <!--Start Header-->
        <header>
            <div>
                <a href="index.html"><img src="images/pageicon.png" alt="pageicon"/></a>
            </div>
            
            <div>
                <h1 class="white">Simple Calculator</h1>
            </div>
        </header>
        <!--End Header-->
        
        <!--Start Calculator-->
        <div id="grid-container">
            <div id="output">&nbsp;</div>
            
            <div id="zero" class="white"> 0 </div>
            
            <div id="one" class="white"> 1 </div>
            
            <div id="two" class="white"> 2 </div>
            
            <div id="three" class="white"> 3 </div>
            
            <div id="four" class="white"> 4 </div>
            
            <div id="five" class="white"> 5 </div>
            
            <div id="six" class="white"> 6 </div>
            
            <div id="seven" class="white"> 7 </div>
            
            <div id="eight" class="white"> 8 </div>
            
            <div id="nine" class="white"> 9 </div>
            
            <div id="clear" class="white"> C </div>
            
            <div id="dot" class="white"> .  </div>
            
            <div id="equal" class="white"> = </div>
            
            <div id="plus" class="white"> + </div>
            
            <div id="minus" class="white"> -  </div>
            
            <div id="multiply" class="white"> * </div>
            
            <div id="power" class="white"> ^ </div>
            
            <div id="divide" class="white"> / </div>
        </div>
        <!--End Calculator-->
        
        <!--Start Footer-->
        <footer class="white back-darkgreen centerT">
            <p>Find Me On Social Media</p>
            
            <a href="https://www.facebook.com/eslam.hany.752" target="_blank" class="white font20">
                <i class="fa fa-facebook-official"></i>
            </a>
            <a href="https://www.instagram.com/islamhani10/" target="_blank" class="white font20">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://twitter.com/islamha58723976" target="_blank" class="white font20">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://github.com/islamhanii" target="_blank" class="white font20">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/islam-hani-2572131ab/" target="_blank" class="white font20">
                <i class="fa fa-linkedin"></i>
            </a>
            
            <p>Copyrights &copy; Islam Hani</p>
        </footer>
        <!--End Footer-->
        
        <script src="js/script1.js"></script>
    </body>
    
</html>